# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# R
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# Quarto / render outputs
/.quarto/
/_freeze/
*_cache/


**/.quarto/
**/_freeze/

# Generated slide assets / unused folders
Slides/unused/
Slides/images/unused/


# Editor / IDE
.vscode/
.idea/

# OS junk
Thumbs.db
Desktop.ini

# Temp files
*.tmp
*~
